.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid lightgray;
  padding: 20px 10px;
  position: relative;
}
.check1 {
  text-align: center;
}
.check1 h3 {
  font-weight: 700;
  color: #535359;
}
.check2 .batting,
.check1 p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #b3b3b6;
}
.check2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a2dd71;
}
.check2 .score {
  font-size: 1.8rem;
  font-weight: 400;
  color: #b3b3b6;
}
.batting-score {
  color: green;
}
.check2 img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
td {
  font-size: 2rem;
  font-weight: 700;
  color: #747373;
}
th {
  font-size: 1rem;
  font-weight: 500;
  color: #c6c5c5;
}
.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f6f6;
  padding: 8px;
  margin-top: 10px;
}
.player .inner-player {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.player .inner-player:first-child {
  width: 40%;
}
.footer {
  background-color: #f7f6f6;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}
