h3{
    font-size: 28px;
    color: darkslateblue;
    margin-bottom: 12px;
}
h2{
    color: darkgray;

    font-size: 34px;
margin: 0;
}
h4{
    margin: 0;
}
.check6 {
    font-size: 24px;
    color: dimgrey;
}

.check7 {
    background: lightgrey;
    margin-bottom: 12px;
    font-size: 20px;
    width: 75%;
    padding: 0 20px;
    margin-bottom: 12px;
}
.green {
    color: green;
}